# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Python cache
__pycache__

# Dependency directories
venv/
env/

# IDE directories (e.g. PyCharm)
.idea/
.vscode/

# Compiled Python files
*.pyc

# Logs
*.log

# Build directory
/build

# Miscellaneous
.DS_Store

